.header{
    flex-direction: row;
    display:flex;
} 
.headerContainer {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height:400px;
    width:50vw;
    padding-top: 10vh;
    background-size: auto;
    background-image: url(../assets/Campus_Aerial_View_2.jpeg);
    /**background-color: #1c3b7b;**/
    
    
}
.footerContainer {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height:50vh;
    /**background-image: url(../assets/Campus_Aerial_View_2_blurry.jpeg);**/
    background-color: #1c3b7b;   
}
.footerContainer img{
    width: 20vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    
}
.contentContainer {
    display:flex;
    flex-direction: row;
    padding-top: 10vh;
    align-items:left;
    justify-content: left;
    height:400px;
    width: 50vw;
    background-color: rgb(231,150,113);
    
    
}
.contentContainer h1{
    padding-left: 5vw;
    
    padding-right: 5vw;
    font-size: 40px;
    padding-top: 1vh;
    color: #121619;
    
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}

.headerContainer img{
    width: 300px;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    
}
.headerContainer h1{
    
    font-weight: lighter;
    padding-right: 4vw;
    color: whitesmoke;
    padding-top: 12vh;
    font-size: 50px;
    
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}

.headerContainer .left-side {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: left;
}
.headerContainer .left-side h1 {
    font-size: 80px;
    margin-top: 30vh;
    font-weight: lighter;
    color: whitesmoke;
}
.headerContainer .right-side {
    flex: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerContainer .right-side h1 {
    font-size: 80px;
    background-color: whitesmoke;
    margin-top: 30vh;
    font-weight: lighter;
    color: whitesmoke;
}
  
  
.headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
  
.headerContainer button:hover {
    background-color: #07090a;
    cursor: pointer;
    transition: 0.3s ease-in;
}
  
@media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
  
    
  
    .headerContainer h1 {
        font-size: 30px;
        height: 30px;
        color: white;
    }
  
    .headerContainer p {
        font-size: 30px;
        color: white;
    }
  
    .headerContainer button {
        background-color: white;
        color: #121619;
        margin-bottom: 30px;
    }
  
    .headerContainer button:hover {
        background-color: rgb(225, 225, 225);
        color: #121619;
    }
}

.image-container {
    width: 25vw; 
    height: auto; 
    display: flex;
    justify-content:left;
    align-items: center;
    overflow: hidden; 
}


.flex-image {
    width: 100%; /* Makes the image take up the full width of its container */
    height: auto; /* Allows the image to maintain its aspect ratio */
    object-fit: cover; /* Ensures the image covers the entire container */
}
  