.header{
    flex-direction: column;
    display:flex;

}
.bottomContainer {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height:400px;
    width:20vw;
    padding-left: 5vw;
    padding-top: 0vh;
    background-size: auto;
    /**background-image: url(../assets/Campus_Aerial_View_2.jpeg);**/
    background-color: #0d1b38;
    /**background-color: #1c3b7b;**/

} 
.headerContainer {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height:60vh;
    width:100vw;
    
    padding-top: 0vh;
    background-size: auto;
    /**background-image: url(../assets/Campus_Aerial_View_2.jpeg);**/
    background-color: whitesmoke;
    /**background-color: #1c3b7b;**/
    
    
}
.teamsContainer {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height:120vh;
    width:100vw;
    
    padding-top: 0vh;
    background-size: auto;
    /**background-image: url(../assets/Campus_Aerial_View_2.jpeg);**/
    background-color: whitesmoke;
    /**background-color: #1c3b7b;**/
    
    
}
.denContainer {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height:20vh;
    width:100vw;
    
    padding-top: 0vh;
    background-size: auto;
    /**background-image: url(../assets/Campus_Aerial_View_2.jpeg);**/
    background-color: whitesmoke;
    /**background-color: #1c3b7b;**/
    
    
}
.leftheaderContainer {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height:70vh;
    width:50vw;
    padding-right: 0vw;
    padding-top: 0vh;
    background-size: auto;
    /**background-image: url(../assets/Campus_Aerial_View_2.jpeg);**/
    background-color: whitesmoke;
    /**background-color: #1c3b7b;**/
}
.leftheaderContainer img{
    width: 45vw;
    padding-top: 0vh;
    padding-left: 0vw;
    padding-right: 0vw;
    
}
.footerContainer {
    display:flex;
    position: relative;
    flex-direction: row;
    
    height:90vh;
    width: 100vw;
    padding-top: 10vh;
   
    background-color: black;   
}
.footerContainer img{
    width: 25vw;
    height: 45vw;
    filter: contrast(1.08);
    padding-left: 5vw;
    padding-top: 5vh;
    padding-bottom: 0vh;
    
}
.footerContainer .slider img{
    width: 60vw;
    height: 25vw;
    filter: contrast(1.08);
    padding-left: 0vw;
    padding-top: 0vh;
    padding-bottom: 0vh;
    
}
.contentContainer {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height:70vh;
    width:100vw;
    padding-top: 0vh;
    background-size: auto;
    /**background-image: url(../assets/Campus_Aerial_View_2.jpeg);**/
    background-color: whitesmoke;
    /**background-color: #1c3b7b;**/
    
    
}
.contentContainer h1{
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 2vw;
    font-weight: lighter;
    padding-top: 1.5vh;
    align-self: center; 
    color: whitesmoke;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    
    
}
.contentContainer img{
    width: 75vw;
    height: 50vh;
    padding-top: 0vh;
    padding-left: 0vw;
    padding-right: 0vw;
    
}

.headerContainer img{
    width: 40vw;
    padding-top: 0vh;
    padding-left: 5vw;
    padding-right: 0vw;
    
}
.headerContainer h1{
    
    
    padding-left: 17.5vw;
    padding-right: 17.5vw;
    color: BLACK;
    
    font-size: 60px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
.teamsContainer h1{
    
    
    padding-left: 17.5vw;
    padding-right: 17.5vw;
    color: BLACK;
    
    font-size: 60px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
.headerContainer h3{
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    color: BLACK;
    font-weight: 200;
    font-size: 35px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
.teamsContainer h3{
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    color: BLACK;
    font-weight: 200;
    font-size: 35px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}

.headerContainer .left-side {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: left;
}
.headerContainer .left-side h1 {
    font-size: 80px;
    margin-top: 30vh;
    font-weight: lighter;
    color: whitesmoke;
}
.headerContainer .right-side {
    flex: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerContainer .right-side h1 {
    font-size: 80px;
    background-color: whitesmoke;
    margin-top: 30vh;
    font-weight: lighter;
    color: whitesmoke;
}
  
  
.headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
  
.headerContainer button:hover {
    background-color: #07090a;
    cursor: pointer;
    transition: 0.3s ease-in;
}
  
@media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
    
    .header{
        flex-direction: column;
        display:flex;
        
    }
    .footerContainer {
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        height:30vw;
        width: 100vw;
        padding-top: 10vh;
        
        
        
    
        background-color: #121619;   
    }
    .footerContainer img{
        width: 100vw;
        filter: contrast(0.25);
        
        padding-top: 0vh;
        padding-bottom: 0vh;
        
    }
    .leftheaderContainer {
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
        height:40vh;
        width:100vw;
        padding-right: 0vw;
        padding-top: 0vh;
        background-size: auto;
        /**background-image: url(../assets/Campus_Aerial_View_2.jpeg);**/
        background-color: #0d1b38;
        /**background-color: #1c3b7b;**/
    }

    .headerContainer {
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
        height:40vh;
        width:100vw;
        padding-left: 0vw;
        padding-top: 0vh;
        background-size: auto;
        /**background-image: url(../assets/Campus_Aerial_View_2.jpeg);**/
        background-color: #121619;
        /**background-color: #1c3b7b;**/
        
        
    }

    .leftheaderContainer img{
        width: 30vw;
        padding-top: 0vh;
        padding-left: 0vw;
        padding-right: 0vw;
        
    }
    .headerContainer img{
        width: 30vw;
        padding-top: 0vh;
        padding-left: 0vw;
        padding-right: 0vw;
        
    }
    .contentContainer {
        display:flex;
        flex-direction: row;
        padding-top: 0vh;
        align-items:left;
        justify-content: left;
        height:10vh;
        width: 100vw;
        background-color: #0d1b38;
        
        
    }
    .contentContainer h1{
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 3vw;
        font-weight: lighter;
        padding-top: 1.5vh;
        align-self: center; 
        color: whitesmoke;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
        
    }
    .headerContainer h1 {
        font-size: 30px;
        height: 30px;
        color: white;
    }
  
    .headerContainer p {
        font-size: 30px;
        color: white;
    }
  
    .headerContainer button {
        background-color: white;
        color: #121619;
        margin-bottom: 30px;
    }
  
    .headerContainer button:hover {
        background-color: rgb(225, 225, 225);
        color: #121619;
    }
}

.image-container {
    width: 25vw; 
    height: auto; 
    display: flex;
    justify-content:left;
    align-items: center;
    overflow: hidden; 
}


.flex-image {
    width: 100%; /* Makes the image take up the full width of its container */
    height: auto; /* Allows the image to maintain its aspect ratio */
    object-fit: cover; /* Ensures the image covers the entire container */
}
  