.header{
    flex-direction: row;
    display:flex;
    border-top: 3px solid #e79671;
    
}
.bottomContainer {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height:400px;
    width:20vw;
    padding-left: 5vw;
    padding-top: 0vh;
    background-size: auto;
    /**background-image: url(../assets/Campus_Aerial_View_2.jpeg);**/
    background-color: #0d1b38;
    /**background-color: #1c3b7b;**/

} 
.headerContainer {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height:40vh;
    width:20vw;
    padding-left: 5vw;
    padding-top: 0vh;
    background-size: auto;
    /**background-image: url(../assets/Campus_Aerial_View_2.jpeg);**/
    background-color: #0d1b38;
    /**background-color: #1c3b7b;**/
    
    
}
.leftheaderContainer {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height:40vh;
    width:20vw;
    padding-right: 5vw;
    padding-top: 0vh;
    background-size: auto;
    /**background-image: url(../assets/Campus_Aerial_View_2.jpeg);**/
    background-color: #0d1b38;
    /**background-color: #1c3b7b;**/
}
.leftheaderContainer img{
    width: 20vw;
    padding-top: 0vh;
    padding-left: 0vw;
    padding-right: 5vw;
    
}
.footerContainer {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height:50vh;
    width: 100vw;
    padding-top: 10vh;
    background-image: url(../assets/IMG_1542.JPG);
    background-size: 100%;
    background-size: cover;

    background-color: #091225;   
}
.footerContainer img{
    width: 18vw;
    padding-top: 0vh;
    padding-bottom: 0vh;
    
}
.contentContainer {
    display:flex;
    flex-direction: row;
    padding-top: 0vh;
    align-items:left;
    justify-content: left;
    height:40vh;
    width: 50vw;
    background-color: #0d1b38;
    
    
}
.contentContainer h1{
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 2vw;
    font-weight: lighter;
    padding-top: 1.5vh;
    align-self: center; 
    color: whitesmoke;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}

.headerContainer img{
    width: 15vw;
    padding-top: 0vh;
    padding-left: 5vw;
    padding-right: 0vw;
    
}
.headerContainer h1{
    
    font-weight: lighter;
    padding-right: 4vw;
    color: whitesmoke;
    padding-top: 12vh;
    font-size: 50px;
    
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}

.headerContainer .left-side {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: left;
}
.headerContainer .left-side h1 {
    font-size: 80px;
    margin-top: 30vh;
    font-weight: lighter;
    color: whitesmoke;
}
.headerContainer .right-side {
    flex: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerContainer .right-side h1 {
    font-size: 80px;
    background-color: whitesmoke;
    margin-top: 30vh;
    font-weight: lighter;
    color: whitesmoke;
}
  
  
.headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
  
.headerContainer button:hover {
    background-color: #07090a;
    cursor: pointer;
    transition: 0.3s ease-in;
}
  
@media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
    
    .header{
        flex-direction: column;
        display:flex;
        border-top: 3px solid #e79671;
        
    }
    .footerContainer {
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        height:40vh;
        width: 100vw;
        padding-top: 10vh;
        background-image: url(../assets/IMG_1542.JPG);
        background-size:contain;
        
    
        background-color: #091225;   
    }
    .leftheaderContainer {
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
        height:40vh;
        width:100vw;
        padding-right: 0vw;
        padding-top: 0vh;
        background-size: auto;
        /**background-image: url(../assets/Campus_Aerial_View_2.jpeg);**/
        background-color: #0d1b38;
        /**background-color: #1c3b7b;**/
    }

    .headerContainer {
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
        height:40vh;
        width:100vw;
        padding-left: 0vw;
        padding-top: 0vh;
        background-size: auto;
        /**background-image: url(../assets/Campus_Aerial_View_2.jpeg);**/
        background-color: #0d1b38;
        /**background-color: #1c3b7b;**/
        
        
    }

    .leftheaderContainer img{
        width: 30vw;
        padding-top: 0vh;
        padding-left: 0vw;
        padding-right: 0vw;
        
    }
    .headerContainer img{
        width: 30vw;
        padding-top: 0vh;
        padding-left: 0vw;
        padding-right: 0vw;
        
    }
    .contentContainer {
        display:flex;
        flex-direction: row;
        padding-top: 0vh;
        align-items:left;
        justify-content: left;
        height:10vh;
        width: 100vw;
        background-color: #0d1b38;
        
        
    }
    .contentContainer h1{
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 3vw;
        font-weight: lighter;
        padding-top: 1.5vh;
        align-self: center; 
        color: whitesmoke;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
        
    }
    .headerContainer h1 {
        font-size: 30px;
        height: 30px;
        color: white;
    }
  
    .headerContainer p {
        font-size: 30px;
        color: white;
    }
  
    .headerContainer button {
        background-color: white;
        color: #121619;
        margin-bottom: 30px;
    }
  
    .headerContainer button:hover {
        background-color: rgb(225, 225, 225);
        color: #121619;
    }
}

.image-container {
    width: 25vw; 
    height: auto; 
    display: flex;
    justify-content:left;
    align-items: center;
    overflow: hidden; 
}


.flex-image {
    width: 100%; /* Makes the image take up the full width of its container */
    height: auto; /* Allows the image to maintain its aspect ratio */
    object-fit: cover; /* Ensures the image covers the entire container */
}
  