.Team{
  background-color: 	#11244b;

  padding-top: 10vh;
  padding-bottom: 10vh;
  
}
.Team h1{
  
  padding-top: 10vh;
  text-align: left;
  padding-left: 7.5vw;
  padding-right: 40vw;
  font-weight: 50;
  padding-bottom: 5vh;
  color:whitesmoke;
  font-size: 40px;
  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  

}
.TeamHeader {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height:25vh;
  /**background-image: url(../assets/Campus_Aerial_View_2_blurry.jpeg);**/
  background-color: #0d1b38;
  padding-bottom: 50px;
  /**border-bottom: 3px solid whitesmoke;**/
  

  
}
  
.TeamList {
  border: 3px;
  padding-top: 5vh;
  margin-left: 5vw;
  width: 90vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  font-size: large;

  
}


@media only screen and (max-width: 1300px) {
  .TeamList {
    grid-template-columns: 1fr 1fr;
  }
}
  
@media only screen and (max-width: 800px) {
  .TeamList {
    grid-template-columns: 1fr;
  }
}