.Team{
  background-color: whitesmoke;
  padding-top: 10vh;
  
}
.Team h1{
  
  padding-top: 10vh;
  text-align: left;
  padding-left: 7.5vw;
  padding-right: 40vw;
  color:whitesmoke;
  font-size: 50px;
  font-weight: 100;
  

}
.TeamHeader {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height:40vh;
  /**background-image: url(../assets/Campus_Aerial_View_2_blurry.jpeg);**/
  background-color: #1d2328;
  padding-bottom: 50px;
  

  
}
  
.TeamList {
  border: 3px;
  padding-top: 10vh;
 
  margin-left: 5vw;
  width: 90vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  font-size: large;

  
}


@media only screen and (max-width: 1300px) {
  .TeamList {
    grid-template-columns: 1fr 1fr;
  }
}
  
@media only screen and (max-width: 800px) {
  .TeamList {
    grid-template-columns: 1fr;
  }
}