.navbar {
  width: 100%;
  height: 10vh;
  /** background-color: whitesmoke; **/
  background-color :black;
  
  display: flex;
  position: fixed;

  flex-direction: row;
  z-index: 1000;
}

.navbar h1 {
  color: whitesmoke;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;  
}
  
.navbar .leftSide img {
  width: 175px;
  height: 100px;
  padding-left: 2vw;
  padding-top: 0vh;
}
  
.navbar .rightSide {
  flex: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.navbar a {
  color: whitesmoke;
  text-decoration: none;
  margin: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:540;
  font-size: larger;
}
  
.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
  
.navbar .rightSide svg {
  font-size: 40px;
}
  
.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}
  
.navbar #close img {
  display: inherit;
}
  
.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 3vw;
}
  
.navbar #close .hiddenLinks {
  display: none;
}
  
.navbar #open a {
  width:auto;
  font-size: 2.5vw;
  margin: 10px;
}

  
@media only screen and (max-width: 1000px) {
  .navbar .rightSide a {
    display: none;
  }
  
  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }
  
  .navbar .rightSide button {
    display: inherit;
  }
}
  
  @media only screen and (min-width: 1000px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }

  }