.projects{
    background-color: #091225;
}
.projectsHeaderContainer {
    display:flex;
    flex-direction: column;    
    justify-content: center;
    height:25vh;
    /**background-image: url(../assets/Campus_Aerial_View_2_blurry.jpeg);**/
    background-color: #091225;
    padding-top: 10vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.projectsHeaderContainer h2{
    /**background-image: url(../assets/Campus_Aerial_View_2_blurry.jpeg);**/
    padding-top: 12.5vh;
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
    padding-left: 7.5vw;
    color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projectsFooterContainer {
    display:flex;
    flex-direction: row;
    align-items:left;
    justify-content: left;
    height:40vh;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    border-top: 1.5px solid #e79671;
    border-bottom: 3px solid #e79671;
    border-left: 3px solid #e79671;
    
    /**background-image: url(../assets/Campus_Aerial_View_2_blurry.jpeg);**/
    background-color: #091225;
    margin-bottom: 10vh;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.projectsFooterContainer img{
    width: 40vh;
    padding: 0vh;
    
    
}
.projectsContentContainer {
    display:flex;
    flex-direction: row;
    align-items:left;
    justify-content: left;
    height:50vh;
    width: 85vw;
    background-color: #091225;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    border-top: 3px solid #e79671;
    border-bottom: 1.5px solid #e79671;
    border-left: 3px solid #e79671;
    
    
}
.projectsContentContainer .pccLeft {
    display:flex;
    flex-direction: row;
    align-items:left;
    justify-content: left;
    height:40vh;
    width: 37.5;
    background-color: #1c3b7b;
}
.projectsContentContainer .pccRight {
    align-items:left;
    text-align: left;
    justify-content: left;
    padding-left: 2.5vw;
    height:40vh;
    width: 40vw;
   
}
.projectsContentContainer .pccLeft img{
    width: 30vw;
    height: 50vh;
}
.projectsContentContainer .pccRight h3{
    font-weight: lighter;
    font-size: 30px;
    color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    text-align: left;
    
}




.projectsHeaderContainer img{
    width: 20vw;
    margin-top: 6vh;
    
}
.projectsHeaderContainer h1{
    font-size: 80px;
    padding-top: 10vh;
    font-weight: lighter;
    align-content: left;
    align-self: left;
    justify-content: left;
    justify-self: left;
    justify-content: left;
    text-align: left;
    color: whitesmoke;
}
/***
.projectsHeaderContainer .left-side {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: left;
}
.projectsHeaderContainer .left-side h1 {
    font-size: 80px;
    margin-top: 30vh;
    font-weight: lighter;
    color: whitesmoke;
}
.projectsHeaderContainer .right-side {
    flex: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projectsHeaderContainer .right-side h1 {
    font-size: 80px;
   
    margin-top: 30vh;
    font-weight: lighter;
    color: whitesmoke;
}
***/
  

  

  

  

