.main-slide{
    padding-left: 5vw;
    padding-top: 17vh;
    width: 60vw;
}
.carousel .slider-wrapper{
    width: 100%;
}


.carousel .thumb{
    width: 5%;
    height: 3vh;
}

.carousel{
    text-align: center;
    
}