/* MENU ITEM STYLING */
.TeamMember{
    
    padding-bottom: 25px;
    position: relative;
    display: inline-block;
}

.TeamMember img{


    width: 25vw;
   

    overflow: hidden;
    height: auto;
    display: grid;
 
    place-items: center;
    font-size: small;
}
.TeamMember .MemberDescriptor{
    position: absolute;
    top: 74%; /* Adjust top, left, width, height as needed */
    left: 0%;
    width: 25vw;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.7); 
 
    color: whitesmoke;
    line-height: 1px;
    border-top: none;
    
}
.TeamMember .MemberDescriptor h3{
    
    font-size: x-large;
    padding-left: 1%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.TeamMember .MemberDescriptor p{

    font-size: medium;
    padding-left: 1%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
      
