/* MENU ITEM STYLING */
.TeamMember{
    
    padding-bottom: 12%;
    padding-top: 12%;
    position: relative;
    display: inline-block;
}

.TeamMember img{
    width: 28vw;
    overflow: hidden;
    height: auto;
    display: grid;
    place-items: center;
    font-size: small;
}

.TeamMember img:hover{
    opacity: 0.7;
    /* transform: scale(1.025); */
    filter:brightness(125%)
    

}
.TeamMember .MemberDescriptor{
    position: absolute;
    top: 90%; /* Adjust top, left, width, height as needed */
    left: 0%;
    width: 28vw;
    height: 4.2vw;
    background-color: #11244b; 
    color: whitesmoke;
    line-height: 1px;
    border-top: none;  
    padding-bottom: 0.5%;
}

.TeamMember .MemberDescriptor h3{
    font-size: 1.5vw;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.TeamMember .MemberDescriptor p{
    font-size: 1vw;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
      
