/* MENU ITEM STYLING */
.TeamMember{
    
    padding-bottom: 10%;
    position: relative;
    display: inline-block;
}

.TeamMember img{
    width: 40vw;
    overflow: hidden;
    height: auto;
    display: grid;
    place-items: center;
    font-size: small;
}

.TeamMember img:hover{
    opacity: 0.7;
    /* transform: scale(1.025); */
    filter:brightness(125%)
    

}
.TeamMember .MemberDescriptor{
    position: absolute;
    top: 79%; /* Adjust top, left, width, height as needed */
    left: 0%;
    width: 40vw;
    height: 12%;
    background-color: rgba(11, 14, 16, 0.90); 
    color: whitesmoke;
    line-height: 1px;
    border-top: none;  
    padding-bottom: 0.5%;
}

.TeamMember .MemberDescriptor h3{
    font-size: 30px;
    padding-left: 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.TeamMember .MemberDescriptor p{
    font-size: 20px;
    padding-left: 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
      
